body {
  --primary-color: plum;
  --secondary-color: #602e5a;
  --secondary-accent-color: #a2869f;
  --txt-color: #034486;
  --background-color: #faf0e8;

  background: var(--background-color);
  margin: 0;
  padding: 0;
}
